*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
      scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Playwrite+CU:wght@100..400&family=UnifrakturMaguntia&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&family=Playwrite+US+Trad+Guides&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --primary--:#2C1250;
    --header--:#1A0B2E;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary--);
}
.con{
    width: 98vw;
    background-color: var(--primary--);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
      padding: 8px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    background-color: var(--header--);
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.575);
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.name{
    color: white;
     font-family: "Playwrite US Trad Guides",cursive;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    gap: 10px;
}

.hero_section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.hero_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line1{
    color: rgba(255, 255, 255, 0.664);
    font-size: 10px;
}
.line2{
    color: rgba(255, 255, 255, 0.664);
    font-size: 30px;
}
.line3{
   color: rgba(255, 255, 255, 0.664);
    font-size: 13px; 
}

.tag{
    color: blueviolet;
}

.job h2{
    color: rgba(255, 255, 255, 0.664);
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.discription p{
    color: rgba(255, 255, 255, 0.664);
}

.resume{
    color: white;
    background-color: blueviolet;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    width: 14rem;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px rgb(159, 78, 235);
}
.resume:hover{
    box-shadow: 3px 3px 5px 2px rgb(159, 78, 235);
    background-color: rgb(140, 30, 243);
}

.title{
    color: white;
    text-align: center;
}
.title span{
    color: blueviolet;
}

.tech_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
}
.tech_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--techcolor--);
    height: 9rem;
    width: 10rem;
    border-radius: 10px;
    transition: all;
    transition-duration: 1s;
}
.tech_card:hover{
    box-shadow: 0px 0px 10px 1px var(--techcolor--);
    transform: scale(1.1);
}

.tech_card img{
   width: 100px;
}

.project_cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.project_card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.card_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    width: 50%;
    background-color: #1A0B2E;
    height: 20rem;
    border-radius: 10px;
}
.img_project{
    width: 90%;
    height: 85%;
    background-image: url("https://imgs.search.brave.com/qzcG1g7Hxz3PhCzou4UR3ITvWvEKNP6C5eefH0CROUo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMjIw/NDQ4Nzk4NC9waG90/by90b2RvLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz0xZ0ty/NUF3cXRhd0ROd3ot/Q3VuQXJQM19lVlBU/Rkh2QkVuc2FFcTI1/c0w4PQ");
    border-radius: 10px 0px 10px 0px;
}

.dis{
    color: rgba(255, 255, 255, 0.589);
    font-size: 14px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 10px;
}
.tag1{
    color: blueviolet;
    font-size: 12px;
}
.card_left h2,.card_left1 h2{
    color: white;
}

.project_card1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.card_left1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

.footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

.footer_left p a{
 text-decoration: none;
 color: rgba(255, 255, 255, 0.61);
 font-size: 14px;
}

.footer_r_top{
    color: rgba(255, 255, 255, 0.61);
    margin-bottom: 10px;
}
.footer_r_buttom a{
    color: rgba(255, 255, 255, 0.61);
    text-decoration: none;
    font-size: 20px;
}


@media (max-width:600px){

    .name{
        font-size: 1.3rem;
    }
    .nav{
        display: none;
    }
    .hero_content{
        flex-direction: column;
    }
    .tech_card{
        width: 6rem;
        height: 5rem;
    }
    .tech_card img{
        width: 60px;
    }
    .project_card{
        flex-direction: column;
        width: 100vw;
    }
    .dis{
        width: 14rem;
        padding: none;
        margin-bottom: 10px;
    }
    .card_right{
        width: 80%;
    }
    .project_card1{
        flex-direction: column;
        width: 100vw;
    }
    .footer{
        flex-direction: column;
    }
    .footer_left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
}