
*{
    padding: 0;
    margin: 0;
}

.box{
    height: 50vh;
    width: 80vw;
    background-color: rgba(30, 245, 173, 0.862);
    margin: 100px;
    /* position: relative; */
}
.child{
    height: 100px;
    width: 100px;
    background-color: rgba(30, 87, 245, 0.862);
    border: 2px solid black;
}

.child2{
    position: fixed;
    right: 100px;
    bottom: 0;
    border-radius: 50%;
}