
*{
    padding: 0;
    margin: 0;
}

.test{
    background-color: rgb(0, 64, 255);
    /* padding: 20px; */
    /* margin-top: 100px; */
    display: inline-block;
    width: 500px;
}

h2{
    color:orangered;
    font-size: 100px;
    border: 2px solid black;
}

.container{
    background-color: orchid;
    border: 2px solid black;
    display: flex;
    height: 300px;
    width: 300px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;

}

.item{
   background-color: aqua;
   margin: 5px;
   height: 30px;
}