.ele1{
    height: 10rem;
    width: 10rem;
    border-radius: 0%;
    background-color: aqua;
    transition: all 5s ease-out;
}

.ele1:hover{
    transform: perspective(100px) rotateX(200deg) translate(200px) scale(1.5);
    background-color: orange;
    border-radius: 50%;
}